<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.schedulegenerator.persistence.CourseDao">
    <sql id="courseSelect">
        SELECT
            id,
            group_id,
            subject_id,
            time_slot,
            day_of_week
        FROM courses
    </sql>

    <select id="findById" resultMap="CourseResultMap">
        <include refid="courseSelect"/>
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="CourseResultMap">
        <include refid="courseSelect"/>
    </select>

    <resultMap id="CourseResultMap" type="com.solvd.schedulegenerator.domain.Course" autoMapping="false">
        <id column="id" property="id"/>
        <result column="group_id" property="groupID"/>
        <result column="subject_id" property="subjectId"/>
        <result column="time_slot" property="timeSlot"/>
        <result column="day_of_week" property="dayOfWeek"/>
    </resultMap>
</mapper>