<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.schedulegenerator.persistence.RoomDao">
    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO rooms (building, floor, room_number)
        VALUES (#{building}, #{floor}, #{roomNumber})
    </insert>

    <sql id="roomSelect">
        SELECT
            id,
            building,
            floor,
            room_number
        FROM rooms
    </sql>

    <select id="findById" resultMap="RoomResultMap">
        <include refid="roomSelect"/>
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="RoomResultMap">
        <include refid="roomSelect"/>
    </select>

    <update id="updateById">
        UPDATE rooms SET
            building = #{room.building},
            floor = #{room.floor},
            room_number = #{room.roomNumber}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM rooms
        WHERE id = #{id}
    </delete>

    <resultMap id="RoomResultMap" type="com.solvd.schedulegenerator.domain.Room" autoMapping="false">
        <id column="id" property="id"/>
        <result column="building" property="building"/>
        <result column="floor" property="floor"/>
        <result column="room_number" property="roomNumber"/>
    </resultMap>
</mapper>