<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.schedulegenerator.persistence.StudentGroupDao">
    <insert id="create" keyColumn="id" keyProperty="group.id" useGeneratedKeys="false">
        INSERT INTO student_groups(id)
        VALUES (#{id})
    </insert>

    <sql id="studentGroupSelect">
        SELECT
            g.id AS id,
            s.id AS student_id,
            s.first_name AS student_first_name,
            s.last_name AS student_last_name
        FROM student_groups g
        LEFT JOIN students s ON g.id = s.group_id
    </sql>

    <select id="findById" resultMap="StudentGroupResultMap">
        <include refid="studentGroupSelect"/>
        WHERE g.id = #{id}
    </select>

    <select id="findAll" resultMap="StudentGroupResultMap">
        <include refid="studentGroupSelect"/>
    </select>

    <update id="updateById">
        UPDATE student_groups SET
            id = ${group.id}
        WHERE id = ${id}
    </update>

    <delete id="deleteById">
        DELETE FROM student_groups
        WHERE id = ${id}
    </delete>

    <resultMap id="StudentGroupResultMap" type="com.solvd.schedulegenerator.domain.StudentGroup" autoMapping="false">
        <id column="id" property="id"/>
        <collection property="students" columnPrefix="student_"
                    resultMap="com.solvd.schedulegenerator.persistence.StudentDao.StudentResultMap"/>
    </resultMap>
</mapper>