<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.schedulegenerator.persistence.SubjectConstraintDao">
    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO subject_constraints (id)
        VALUES (#{id})
    </insert>

    <sql id="subjectSelect">
        SELECT
            id
        FROM subject_constraints
    </sql>

    <select id="findById" resultMap="SubjectResultMap">
        <include refid="subjectSelect"/>
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="SubjectResultMap">
        <include refid="subjectSelect"/>
    </select>

    <update id="updateById">
        UPDATE subjects SET
            name = #{subject.name}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM subject_constraints
        WHERE id = #{id}
    </delete>

    <resultMap id="SubjectResultMap" type="com.solvd.schedulegenerator.domain.SubjectConstraint" autoMapping="false">
        <id column="id" property="id"/>
    </resultMap>
</mapper>