<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.schedulegenerator.persistence.TeacherDao">
    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO teachers (first_name, last_name) VALUES (#{firstName}, #{lastName})
    </insert>

    <sql id="teacherSelect">
        SELECT
        id,
        first_name,
        last_name
        FROM teachers
    </sql>

    <select id="findById" resultMap="TeacherResultMap">
        <include refid="teacherSelect"/>
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="TeacherResultMap">
        <include refid="teacherSelect"/>
    </select>

    <update id="updateById">
        UPDATE teachers SET first_name=#{teacher.firstName}, last_name=#{teacher.lastName} WHERE id=#{id}
    </update>

    <delete id="deleteById">
        DELETE FROM teachers WHERE id=#{id}
    </delete>

    <resultMap id="TeacherResultMap" type="com.solvd.schedulegenerator.domain.Teacher" autoMapping="false">
        <id column="id" property="id"/>
        <result column="first_name" property="firstName"/>
        <result column="last_name" property="lastName"/>
    </resultMap>
</mapper>